raspberry-pi/n8n-backup.json
[{"createdAt":"2024-05-12T01:04:45.635Z","updatedAt":"2024-05-12T04:44:37.000Z","id":"FBjdD2K3VTJU0oip","name":"Daily Timesheets","active":true,"nodes":[{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"3a35cae9-c3ba-4a93-931e-36176715446c","mode":"list","cachedResultName":"Time Records","cachedResultUrl":"https://www.notion.so/3a35cae9c3ba4a93931e36176715446c"},"returnAll":true,"options":{}},"id":"c9d27f84-aa5f-4196-9066-a0172fffa827","name":"Notion1","type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1420,360],"credentials":{"notionApi":{"id":"R19VyPabDTXSTSKC","name":"Notion account"}}},{"parameters":{"resource":"databasePage","operation":"get","pageId":{"__rl":true,"value":"={{ $json.property_tasks[0] }}","mode":"id"},"simple":"="},"id":"14698aa5-60b0-44de-8ea2-342fe58c9360","name":"Notion","type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1680,360],"credentials":{"notionApi":{"id":"R19VyPabDTXSTSKC","name":"Notion account"}}},{"parameters":{"mode":"combine","combinationMode":"mergeByPosition","options":{}},"id":"e7c2b537-4b1e-4e49-81f8-f569189ecb7a","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1960,680]},{"parameters":{"jsCode":"const TODAY = new Date($(\"Daily Trigger\").last().json.timestamp)\nconst EMAIL_TO_DISCORD_HANDLE_MAP = {\n  \"philbayerdesign@gmail.com\": \"philbayer_nyc\",\n  \"oliverswitzer@gmail.com\": \"switzerswish\",\n  \"wrante@gmail.com\": \"will2320\"\n}\n\nconst INITIAL_TIMESHEET = {\n  \"philbayer_nyc\": {total_min: 0, tasks: []}, \n  \"will2320\": {total_min: 0, tasks: []}, \n  \"switzerswish\": {total_min: 0, tasks: []}\n}\n\nconst formattedTimesheets = $input.all().map((item) => { \n  return { \n    person_email: item.json.property_person?.at(0),\n    task: item.json.properties[\"Task name\"][\"title\"][0][\"text\"][\"content\"],\n    minutes: item.json.property_time_min,\n    start_time: item.json.property_start_time.start,\n    end_time: item.json.property_end_time.start\n  }\n});\n\nconst timesheetsOnlyToday = filterByToday(formattedTimesheets, TODAY)\n\n\n\nconst timesheetMapping = timesheetsOnlyToday.reduce((acc, ts) => {\n  const discord_handle = EMAIL_TO_DISCORD_HANDLE_MAP[ts.person_email]\n  \n  if(discord_handle && acc[discord_handle]) {\n    acc[discord_handle].tasks.push(ts)\n    acc[discord_handle].total_min += ts.minutes    \n  }\n\n  return acc;\n}, INITIAL_TIMESHEET)\n\nreturn timesheetMapping\n\nfunction filterByToday(timesheets, triggerDate) {\n  const triggerDay = new Date(triggerDate);\n  const year = triggerDay.getFullYear();\n  const month = triggerDay.getMonth();\n  const day = triggerDay.getDate();\n\n  return timesheets.filter(ts => {\n    const startTime = new Date(ts.start_time);\n    return startTime.getFullYear() === year &&\n           startTime.getMonth() === month &&\n           startTime.getDate() === day;\n  });\n}"},"id":"f8d75f8b-513b-476f-a754-4b4647686e33","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[2180,860]},{"parameters":{"rule":{"interval":[{"triggerAtHour":17}]}},"id":"5c3529a7-a893-47e7-bb3c-ae399e8230aa","name":"Daily Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1140,360]},{"parameters":{"authentication":"webhook","content":"=Daily timesheet update! Hours worked on what tasks...\n{{ Object.entries($json).map(([handle, v]) => {\n  if(v.tasks.length > 0) {\n    return `<@${handle}> :\nTotal time worked: ${v.total_min} minutes\nTasks:\n${v.tasks.map(t => `* ${t.task} (${t.minutes} minutes)`).join(\"\\n\")}\n`\n  } else {\n    return `@${handle}: No tasks logged today`\n  }\n}).join(\"\\n\")}}","options":{}},"id":"f0657241-8b48-430e-90a1-280afab5e226","name":"Discord","type":"n8n-nodes-base.discord","typeVersion":2,"position":[2620,860],"credentials":{"discordWebhookApi":{"id":"YfdeFR1ZUpjIHT0A","name":"Discord Webhook account"}}}],"connections":{"Notion1":{"main":[[{"node":"Notion","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Notion":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code","type":"main","index":0}]]},"Daily Trigger":{"main":[[{"node":"Notion1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Discord","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Daily Trigger":{"recurrencyRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"73d34f9a-aaed-4ba7-90f1-0a7493eb0301","triggerCount":1,"tags":[]}]
